---
version: 2.1

orbs:
  orb: suzuki-shunsuke/orb@dev:pr-9
  # aqua-installer: suzuki-shunsuke/aqua-installer@0.1.0

workflows:
  build:
    jobs:
      - orb/pack:
          name: pack
          filters:
            tags:
              only: /.*/
      - orb/test:
          name: test
          context: suzuki-shunsuke
          workflows: ls tests/*
          requires:
            - pack
          filters:
            tags:
              only: /.*/

      - publish-dev:
          context: suzuki-shunsuke
          requires:
            - pack
            - test

      - publish:
          context: suzuki-shunsuke
          requires:
            - pack
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
executors:
  circleci:
    docker:
      - image: circleci/circleci-cli:0.1.15973-alpine
commands:
  pack:
    steps:
      - run:
          command: circleci orb pack src --skip-update-check > orb.yml
jobs:
  publish-dev:
    executor: circleci
    steps:
      - checkout
      - pack
      - orb/publish-dev:
          orb_path: suzuki-shunsuke/aqua
  publish:
    executor: circleci
    steps:
      - checkout
      - pack
      - orb/publish:
          orb_path: suzuki-shunsuke/aqua
