---
version: 2.1

orbs:
  orb: suzuki-shunsuke/orb@0.1.3
  # aqua-installer: aquaproj/aqua-installer@0.1.0

workflows:
  build:
    jobs:
      - orb/pack:
          name: pack
          filters:
            tags:
              only: /.*/
      - orb/test:
          name: test
          context: circleci-orb-aqua
          workflows: ls tests/*
          requires:
            - pack
          filters:
            tags:
              only: /.*/

      - publish-dev:
          context: circleci-orb-aqua
          requires:
            - pack
            - test

      - publish:
          context: circleci-orb-aqua
          requires:
            - pack
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
executors:
  circleci:
    docker:
      - image: circleci/circleci-cli:0.1.33826-alpine@sha256:5adbe8a3b27175b4bea21a2baf87cf4d3a08ea350624a3d3721071ddb5d4185b
commands:
  pack:
    steps:
      - run:
          command: circleci orb pack src --skip-update-check > orb.yml
jobs:
  publish-dev:
    executor: circleci
    steps:
      - checkout
      - pack
      - orb/publish-dev:
          orb_path: aquaproj/aqua
  publish:
    executor: circleci
    steps:
      - checkout
      - pack
      - orb/publish:
          orb_path: aquaproj/aqua
